In [4]:
# String Manipulation 
a= "Hello World!"
# Print the character at index 1 of the string 'a'.
print(a[1])

e

In [6]:
b = "Hello  World!"
# Print the substring of 'b' starting from index 3 up to, but not including, index 7.
print(b[3:6])

lo

In [8]:
# Example for upper, lower and replace

a = "Hello, World!"
# Print the length of the string 'a'
print(len(a))
# Convert the string 'a' to uppercase
print(a.upper())
# Convert the string 'a' to lowercase
print(a.lower())
# Replace all occurrences of the character 'W' with 'F' in the string 'a'
print(a.replace("W", "F"))

13
HELLO, WORLD!
hello, world!
Hello, Forld!

In [10]:
a = "Hello"
b = "World"
# Concatenate the strings 'a' and 'b'
c = a + " " + b
# Print the concatenated string 'c'
print(c)
# Example for lower()
t = "Text Based Analysis"
# Convert the string 't' to lowercase using the lower() method
lowercase_text = t.lower()
# Print the lowercase version of the string 't'
print(lowercase_text)

Hello World
text based analysis

In [2]:
t = "Data science"
# Remove leading whitespace characters from the string 't'
stripped_text=t.lstrip()
print(stripped_text)

# Reassign the string "## Data Science" to the variable 't'
t="#########Data Science"
# Remove leading '#' characters from the string 't'
stripped_text=t.lstrip("#")
print(stripped_text)

Data science
Data Science

In [3]:
t = "Text Based"
# Remove trailing whitespace characters from the string 't'
stripped_text=t.rstrip()
print(stripped_text)

Text Based

In [4]:
t = "Text Analysis"
# Remove leading and trailing whitespace characters from the string 't'
stripped_text=t.strip()
print(stripped_text)

Text Analysis

In [17]:
t = "Text Based Analysis"
# Remove leading and trailing '#' characters from the string 't'
stripped_text=t.strip("#")
print(stripped_text)

Text Based Analysis

In [5]:
# Example for endswith() with different substring
result = t.endswith("Text")
# Check if the string stored in the variable 't' ends with the substring "Text".
print(result)

False

In [19]:
# Example for find()
t = "Text Based Analysis"
# Find the index of the substring "Based" in the string 't
index = t.find("Based")
print(index)

# Example for find() with non-existing substring
index = t.find("")
# Find the index of an empty substring in the string 't'
print(index)

5
0

In [7]:

# Original string
string = "TextBased "
# Extract a substring from index 3 to index 7 of the string 'string'
# and assign it to the variable 'substring'.
substring = string[3:7]
print(substring)

tBas

In [8]:
# String Concatenation
# Original strings
str1 = "Text"
str2 = "Based"
str3 = "Analysis"
# Concatenating strings
string = str1 + ", " + str2 + ", "+str3
print(string)

Text, Based, Analysis

In [23]:
# Define the string
string = "Python is a widely-used programming language. Python is known for its simplicity and versatility."
# Define the word to count
word_to_count = "Python"
# Count the occurrences of the word in the string
count = string.lower().count(word_to_count.lower())
# Print the result
print(f"The word '{word_to_count}' occurs {count} times in the string.")

The word 'Python' occurs 2 times in the string.

In [24]:
# Define the string
string = "In a dark, dark town, there was a dark, dark street. In the dark, dark street, there was a dark, dark house."
# Define the substring to count
substring = "dark"
# Count the occurrences of the substring in the string
count = string.count(substring)
# Print the result
print(f"The substring '{substring}' appears {count} times in the string.")

The substring 'dark' appears 8 times in the string.

In [25]:
import re

# Original string
string = "The phone number is 123-456-7890. Please call at that number."
# Pattern to match
pattern = r"\b\d{3}-\d{3}-\d{4}\b"  # This pattern matches phone numbers in the format xxx-xxx-xxxx.
# Finding matches
matches = re.findall(pattern, string)
# Print the matches
print(matches)

['123-456-7890']

In [26]:
import re

# Original text containing email addresses
text = "Contact us at example@example.com or support@domain.com"

# Pattern to match email addresses
pattern = r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b"

# Finding email addresses
email_addresses = re.findall(pattern, text)
print(email_addresses)

['example@example.com', 'support@domain.com']

In [27]:
import re

# Original text containing numerical values
text = "The price of the product is $50.99. Offer valid till 2024-12-31."

# Pattern to match numerical values (including decimal numbers and dates)
pattern = r"\d+(\.\d+)?|\d{4}-\d{2}-\d{2}"

# Finding numerical values
numerical_values = re.findall(pattern, text)
print("Found numerical values:", numerical_values)

Found numerical values: ['.99', '', '', '']

In [28]:
import re

# Original string
string = "The cat sat on the mat."

# Pattern to find
pattern = r"\bcat\b"

# Replacing substring
replaced_string = re.sub(pattern, "dog", string)

print(replaced_string)

The dog sat on the mat.

In [1]:
import re

# Original string
string = "There are 10 types of people in the world: those who understand binary and those who don't."

# Pattern to find digits
pattern = r"\d+"

# Replacing digits with a fixed string
replaced_string = re.sub(pattern, "NUM", string)
print(replaced_string)

There are NUM types of people in the world: those who understand binary and those who don't.

In [31]:
import re

# Original string
string = "apple;banana;cherry;date"

# Pattern for splitting using semicolon (;)
substrings = re.split(";", string)
print(substrings)

['apple', 'banana', 'cherry', 'date']